* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

body,
html {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-weight: 400;
  background-color: #2a2c2f;
}

.container {
  max-width: 1190px;
  padding: 0 24px;
  margin: 0 auto;
}

.min-container {
  max-width: 990px;
  padding: 0 24px;
  margin: 0 auto;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.head__title {
  font-size: 96px;
  font-weight: 900;
  margin-bottom: 48px;
}

.head__subtitle {
  font-size: 30px;
  margin-bottom: 78px;
  max-width: 640px;
}

.min-title {
  font-size: 72px;
  font-weight: 900;
  line-height: 108.92%; /* 78.423px */
}

.min-subtitle {
  font-size: 24px;
  line-height: 145.227%; /* 34.855px */
}

.header {
  margin: 30px 0 48px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.lang {
  font-size: 24px;
}
.lang:hover {
  text-decoration: underline;
}

.lang__active {
  text-decoration: underline;
}

.lead {
  margin-bottom: 80px;
}

.lead__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.figure__img {
  margin-bottom: 10px;
  width: 100%;
}

.img__signature {
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  margin-bottom: 90px;
}

.question {
  font-size: 54px;
  font-weight: 900;
  line-height: 108.92%;
  margin-bottom: 45px;
}

.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px;
}
.answer h3 {
  font-size: 24px;
  line-height: 157.33%; /* 37.759px */
  margin-bottom: 35px;
}

.answer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.answer__text p {
  font-size: 14px;
  line-height: 169.432%; /* 23.72px */
  max-width: 680px;
}

.text__info {
  font-size: 10px;
  font-weight: 400;
  line-height: 157.33%; /* 15.733px */
}
.text__info p {
  font-size: 12px;
  line-height: 157.33%;
}

.accent {
  font-size: 12px;
  font-weight: 700;
  line-height: 157.33%;
}

.attractions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.attraction {
  font-size: 13px;
  font-weight: 700;
  -webkit-transition: -webkit-text-decoration 0.3s;
  transition: -webkit-text-decoration 0.3s;
  transition: text-decoration 0.3s;
  transition: text-decoration 0.3s, -webkit-text-decoration 0.3s;
}
.attraction:hover {
  text-decoration: underline;
}

.attraction__accent {
  font-weight: 400;
}

.album {
  margin-bottom: 90px;
}

.album__photo {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 16px 1fr 16px 1fr;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
      grid-template: repeat(3, 1fr)/repeat(4, 1fr);
  gap: 16px;
}

.photo {
  max-width: 284px;
}
.photo img {
  width: 100%;
}

.places {
  margin-bottom: 100px;
}

.places__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  margin-bottom: 72px;
}
.place:last-child {
  margin: 0;
}

.place__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 43px;
}

.place__name {
  font-size: 72px;
  font-weight: 900;
  line-height: 90.767%; /* 65.352px */
  width: 460px;
}

.place__url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.url {
  color: #aaa;
  font-size: 12px;
  line-height: 169.432%; /* 20.332px */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.place__link {
  text-decoration: underline;
}

.place__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.place__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
  font-size: 18px;
  line-height: 169.432%; /* 30.498px */
}

.video {
  margin-bottom: 100px;
}

.video__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video__row {
  gap: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video-card {
  max-width: 583px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  position: relative;
}
.video-card::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.video1 {
  background: url(./../img/space1.png);
  background-size: cover;
  background-position: center;
}

.video2 {
  background: url(./../img/space2.png);
  background-size: cover;
  background-position: center;
}

.video__info {
  z-index: 10;
  position: relative;
}

.video__button {
  margin-bottom: 120px;
}

.video__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}

.video__time {
  font-size: 12px;
  font-weight: 500;
  line-height: 108.92%;
  letter-spacing: 3.6px;
}

.video__name {
  font-size: 36px;
  font-weight: 900;
  line-height: 108.92%; /* 39.211px */
}

.viideo__author {
  font-size: 14px;
  line-height: 108.92%; /* 15.249px */
}

.additional {
  margin-bottom: 100px;
}

.additional__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.additional__card {
  border-radius: 10px;
  position: relative;
  max-width: 284px;
  height: 330px;
}
.additional__card::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.add1 {
  background: url(./../img/add1.png);
  background-size: cover;
  background-position: center;
}

.add2 {
  background: url(./../img/add2.png);
  background-size: cover;
  background-position: center;
}

.add3 {
  background: url(./../img/add3.png);
  background-size: cover;
  background-position: center;
}

.add4 {
  background: url(./../img/add4.png);
  background-size: cover;
  background-position: center;
}

.additional__info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 30px 18px;
}

.additional__name {
  font-size: 27px;
  font-weight: 900;
  line-height: 108.92%; /* 29.409px */
}

.additional__descr {
  font-size: 14px;
  line-height: 145.227%; /* 20.332px */
}

.feedback {
  margin-bottom: 100px;
}

.comment__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 382px;
}

.author__img {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 40px;
}

.comment__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.comment__text p {
  font-size: 14px;
  line-height: 169.432%; /* 23.72px */
}

.comment__author {
  font-size: 14px;
  font-weight: 900;
  line-height: 169.432%; /* 23.72px */
}

.cover {
  margin-bottom: 100px;
}

.cover__wrapper {
  position: relative;
}

.cover__img {
  width: 100%;
  background-color: #000;
  opacity: 0.6;
  border-radius: 5px;
}

.cover__text {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 108.92%; /* 78.423px */
  margin-bottom: 110px;
}

.cover__descr {
  font-size: 18px;
  line-height: 145.227%; /* 26.141px */
  max-width: 380px;
  margin: 0 auto;
}

.footer {
  padding-bottom: 48px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.nav__item {
  font-size: 24px;
  line-height: 169.432%; /* 40.664px */
}

.nav__link {
  -webkit-transition: -webkit-text-decoration 0.5s;
  transition: -webkit-text-decoration 0.5s;
  transition: text-decoration 0.5s;
  transition: text-decoration 0.5s, -webkit-text-decoration 0.5s;
}
.nav__link:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 14px;
  line-height: 145.227%; /* 20.332px */
}

.emblelm {
  margin-bottom: 85px;
}

.emblem__wrappper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.emblem__title {
  max-width: 440px;
  font-size: 42px;
  font-weight: 900;
  line-height: 108.92%; /* 45.747px */
  margin-bottom: 80px;
}

.emblem__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.emblem__card {
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.city__name {
  color: #ccc;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 108.92%; /* 26.141px */
}

.map {
  margin-bottom: 160px;
}

.map__head {
  margin-bottom: 48px;
}

.map__name {
  font-size: 42px;
  font-weight: 900;
  line-height: 145.227%; /* 60.995px */
}

.cord {
  font-size: 42px;
  line-height: 145.227%; /* 60.995px */
}

.ymaps {
  margin-bottom: 48px;
}

.map__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
}

.map__descr {
  max-width: 380px;
  font-size: 18px;
  line-height: 169.432%; /* 30.498px */
}