* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

body, html {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-weight: 400;
  background-color: #2A2C2F;
}

.container {
  max-width: 1190px;
  padding: 0 24px;
  margin: 0 auto;
}

.min-container {
  max-width: 990px;
  padding: 0 24px;
  margin: 0 auto;
}

.header {
  margin: 30px 0 48px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.lang {
  font-size: 24px;
}
.lang:hover {
  text-decoration: underline;
}

.lang__active {
  text-decoration: underline;
}

.lead {
  margin-bottom: 80px;
}

.lead__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lead__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.lead__title {
  font-size: 96px;
  font-weight: 900;
  margin-bottom: 48px;
}

.lead__subtitle {
  font-size: 30px;
  margin-bottom: 78px;
}

.figure__img {
  margin-bottom: 10px;
  width: 100%;
}

.img__signature {
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro {
  margin-bottom: 90px;
}

.question {
  font-size: 54px;
  font-weight: 900;
  line-height: 108.92%;
  margin-bottom: 45px;
}

.answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px;
}
.answer h3 {
  font-size: 24px;
  line-height: 157.33%; /* 37.759px */
  margin-bottom: 35px;
}

.answer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.answer__text p {
  font-size: 14px;
  line-height: 169.432%; /* 23.72px */
  max-width: 680px;
}

.text__info {
  font-size: 10px;
  font-weight: 400;
  line-height: 157.33%; /* 15.733px */
}
.text__info p {
  font-size: 12px;
  line-height: 157.33%;
}

.accent {
  font-size: 12px;
  font-weight: 700;
  line-height: 157.33%;
}

.attractions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.attraction {
  font-size: 13px;
  font-weight: 700;
  -webkit-transition: -webkit-text-decoration 0.3s;
  transition: -webkit-text-decoration 0.3s;
  transition: text-decoration 0.3s;
  transition: text-decoration 0.3s, -webkit-text-decoration 0.3s;
}
.attraction:hover {
  text-decoration: underline;
}

.attraction__accent {
  font-weight: 400;
}

.album {
  margin-bottom: 90px;
}

.album__photo {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 16px 1fr 16px 1fr;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
      grid-template: repeat(3, 1fr)/repeat(4, 1fr);
  gap: 16px;
}

.photo {
  max-width: 284px;
}
.photo img {
  width: 100%;
}

.places {
  margin-bottom: 90px;
}

.places__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  margin-bottom: 72px;
}
.place:last-child {
  margin: 0;
}

.place__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 43px;
}

.place__name {
  font-size: 72px;
  font-weight: 900;
  line-height: 90.767%; /* 65.352px */
  width: 460px;
}

.place__url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.url {
  color: #aaa;
  font-size: 12px;
  line-height: 169.432%; /* 20.332px */
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.place__link {
  text-decoration: underline;
}

.place__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.place__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 36px;
  font-size: 18px;
  line-height: 169.432%; /* 30.498px */
}