.album {
  margin-bottom: 90px;
}
.album__photo {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 16px;
}
.photo {
  max-width: 284px;
  // transition: all .5s;

  // &:hover{
  //   transform: scale(1.08);
  // }

  img{
    width: 100%;
  }
}