.header {
	margin: 30px 0 48px;
}

.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.language {
	display: flex;
	gap: 18px;
}
.lang {
	font-size: 24px;

  &:hover{
    text-decoration: underline;
  }
}

.lang__active {
	text-decoration: underline;
}
