.lead {
	margin-bottom: 80px;
}

.lead__wrapper {
	display: flex;
	flex-direction: column;
}
.figure__img {
	margin-bottom: 10px;
  width: 100%;
}
.img__signature {
	font-size: 10px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}
